:root {
  --intro-background-color: rgb(255, 255, 255);
  --intro-header-background-color: rgb(172, 229, 239);
  --part-2__balloon-background-color: rgb(200, 177, 238);
}

html {
  color: #0C0B06;
}

.intro__section {
  padding: 20px;
  background: var(--intro-background-color);
}

.intro__grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-areas: 
    "photo logo"
    "header header";
  row-gap: 20px;
}

.intro__photo {
  grid-area: photo;
}

.intro__logo {
  grid-area: logo;
}

.intro__header {
  grid-area: header;
}

.intro__photo img {
  width: 280px;
  height: 380px;
  border-radius: 14px;
  background: #333
}

.intro__logo img {
  width: 84px;
  height: 81px;
  border: 1px solid #000000;
  border-radius: 90px;
  background: #333;
}

.intro__header {
  font-family: 'Segoe Script', serif;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  background: var(--intro-header-background-color);
}
