:root {
  --intro-background-color: rgb(255, 255, 255);
  --intro-header-background-color: rgb(172, 229, 239);
  --part-2__balloon-background-color: rgb(200, 177, 238);
}

html {
  color: #0C0B06;
}

.intro__section {
  padding: 20px;
  background-image: url("../pictures/background_Bart.jpg");
  background-repeat: no-repeat;
  background-position:right;
}

.intro__grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-areas: 
    "photo logo"
    "header header";
  row-gap: 20px;
}

.intro__photo-container {
  grid-area: photo;
}

.intro__logo-container {
  grid-area: logo;
}

.intro__header {
  grid-area: header;
}

.intro__photo {
  width: 280px;
  height: 380px;
  border-radius: 14px;
  background: #333
}

.intro__logo {
  width: 84px;
  height: 81px;
  border: 1px solid #000000;
  border-radius: 90px;
  background: #333;
}

.intro__header {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
}

.part-2__section {
  padding: 20px;
  height: 540px;
}

.part-2__header {
  height: 60px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #000000;
}

.part-2__balloon-container {
  float: left;
}

.part-2__balloon {
  width: 257px;
  height: 356px;
}

.part-2__about-myself {
  height: 300px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  text-align: justify;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #000000;
}
